.bannerContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  /* Căn giữa */
}

.banner {
  position: relative;
  width: 100%;
}

.bannerImage {
  width: 100%;

  height: auto;
  max-height: 984px;
  /* Giới hạn chiều cao tối đa */
  object-fit: cover;
  display: block;
}

.bannerText {
  position: absolute;
  color: #ffffff;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  bottom: 10px;
  left: 10px;
}

.loading {
  text-align: center;
  padding: 20px;
  color: #d4a373;
}

.error {
  text-align: center;
  padding: 20px;
  color: #ff0000;
}

@media (max-width: 2560px) {
  .bannerImage {
    max-height: 984px;
  }
}

@media (max-width: 768px) {
  .bannerText {
    font-size: 0.9rem;
  }

  .bannerImage {
    max-height: 200px;
  }
}

@media (max-width: 480px) {
  .bannerText {
    font-size: 0.8rem;
  }

  .bannerImage {
    max-height: 150px;
  }
}
