.container {
  margin: 0 auto;
  min-height: 100vh;
  padding: 0px 20px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.error {
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem 0;
  padding: 1rem;
  background-color: #f8d7da;
  color: #dc3545;
  border-radius: 5px;
}

.dark .error {
  background-color: #842029;
  color: #f8d7da;
}

@media (max-width: 768px) {
  .error {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
  }

  .error {
    font-size: 0.9rem;
  }
}

.bannerWrapper {
  width: 100%;
  opacity: 0;
  /* Bắt đầu ẩn để tạo hiệu ứng */
  transform: translateY(-100%);
  /* Bắt đầu từ trên cùng */
  transition: transform 0.7s ease, opacity 1.5s ease;
  /* Giữ thời gian 1.5s */
}

.slideDown {
  opacity: 1;
  transform: translateY(0);
}

.slideUp {
  opacity: 0;
  transform: translateY(100%);
}